nav.limiter__container
    ul.row
        li.col-xs
            a(href="quienes_somos.html") QUIÉNES SOMOS
                img.to-svg(src="images/icons/about.svg")
        li.col-xs
            a(href="green_data.html") SERVICIOS
                img.to-svg(src="images/icons/greendata.svg")
        li.col-xs
            a(href="noticias.html") NOTICIAS
                img.to-svg(src="images/icons/news.svg")
        li.col-xs
            a(href="contacto.html") CONTACTO
                img.to-svg(src="images/icons/contact.svg")
        li.col-xs
            a(href="acceso.html") ACCESO CLIENTE
                img.to-svg(src="images/icons/login-client.svg")