.row.center-xs.sponsor_left_pane
    .col-xs-12
        img(src="images/sponsor/MIT.png", alt="sponsor MIT")
    .col-xs-12
        img(src="images/sponsor/ylai.png", alt="sponsor YLAI")
    .col-xs-12
        img(src="images/sponsor/sena-tecnoparque.png", alt="sponsor SENA")