extends _base

block content
    section.sponsor.limiter__container.row.center-xs.middle-xs
        .col-xs-2
            img(src="images/sponsor/MIT.png", alt="sponsor MIT")
        .col-xs-2
            img(src="images/sponsor/ylai.png", alt="sponsor YLAI")
        .col-xs-2
            img(src="images/sponsor/sena-tecnoparque.png", alt="sponsor SENA")