extends _base

block content
    section.row.start-xs.top-xs.limiter__container
        .col-sm-9.news-item.gray-section
            h4.title-news Tripulación de vehículo solar viajará a Australia
            .img-news(style="background: url(images/news/noticia-1.jpg) center no-repeat; background-size: cover; height: 300px; width: 100%;")
            
            p.txt_justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id non quod eligendi, aliquam illo, nesciunt repellendus facere error, at consequuntur cupiditate consectetur facilis dolore quos expedita enim nobis asperiores nihil! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur provident, molestias ratione ea, eligendi quos similique neque iste ipsa recusandae magni consectetur? Fuga unde quaerat illo, placeat eos nobis ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur veritatis neque beatae consequatur aliquid ducimus ipsa excepturi facere tempora expedita nemo, illo, maxime praesentium sint, obcaecati quia magni ea enim? ipsum dolor sit amet, consectetur adipisicing elit. Ratione, magnam, voluptatibus vel rem accusamus molestiae fugiat. Incidunt repellat deleniti, amet impedit consectetur est voluptatibus, non dignissimos hic tempore obcaecati dicta!
            a(href="noticias.html").col-xs-12.back-news.row.end-xs
                h4 VOLVER A NOTICIAS
        .col-xs-12.col-sm-3
            include __sponsors