extends _base

block content
    section.row.start-xs.top-xs.limiter__container
        .col-xs-12.news.gray-section
            .item-news.row.col-xs-12
                .col-xs-12.col-md-3.row.center-xs
                    .img-news(style="background: url(images/news/noticia-1.jpg) center no-repeat; background-size: cover; height: 190px; width: 180px; margin-bottom: 20px;")
                .col-xs-12.col-md-9
                    h4.title-news Tripulación de vehículo solar viajará a Australia
                    p.txt_justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id non quod eligendi, aliquam illo, nesciunt repellendus facere error, at consequuntur cupiditate consectetur facilis dolore quos expedita enim nobis asperiores nihil! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur provident, molestias ratione ea, eligendi quos similique neque iste ipsa recusandae magni consectetur? Fuga unde quaerat illo, placeat eos nobis ipsa.
                    a.btn-view.right(href="noticia.html") ver más
            .item-news.row.col-xs-12
                .col-xs-12.col-md-3.row.center-xs
                    .img-news(style="background: url(images/news/noticia-1.jpg) center no-repeat; background-size: cover; height: 190px; width: 180px; margin-bottom: 20px;")
                .col-xs-12.col-md-9
                    h4.title-news Tripulación de vehículo solar viajará a Australia
                    p.txt_justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id non quod eligendi, aliquam illo, nesciunt repellendus facere error, at consequuntur cupiditate consectetur facilis dolore quos expedita enim nobis asperiores nihil! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur provident, molestias ratione ea, eligendi quos similique neque iste ipsa recusandae magni consectetur? Fuga unde quaerat illo, placeat eos nobis ipsa.
                    a.btn-view.right(href="noticia.html") ver más
            .item-news.row.col-xs-12
                .col-xs-12.col-md-3.row.center-xs
                    .img-news(style="background: url(images/news/noticia-1.jpg) center no-repeat; background-size: cover; height: 190px; width: 180px; margin-bottom: 20px;")
                .col-xs-12.col-md-9
                    h4.title-news Tripulación de vehículo solar viajará a Australia
                    p.txt_justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id non quod eligendi, aliquam illo, nesciunt repellendus facere error, at consequuntur cupiditate consectetur facilis dolore quos expedita enim nobis asperiores nihil! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur provident, molestias ratione ea, eligendi quos similique neque iste ipsa recusandae magni consectetur? Fuga unde quaerat illo, placeat eos nobis ipsa.
                    a.btn-view.right(href="noticia.html") ver más
            a(href="").col-xs-12.load-more-news.row.end-xs
                h4 MÁS NOTICIAS
        //.col-xs-12.col-sm-3
            include __sponsors