extends _base

block content
    section.row.center-xs.top-xs.limiter__container
        .col-xs-12.col-sm-9
            .img-bkg(style="background: url(images/header/tree.jpg) center no-repeat; background-size: cover; height: 400px; width: 100%;")
            p.txt_justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit labore cumque libero sunt voluptatibus sed rerum magni reiciendis dolorem expedita, consectetur! Voluptatibus distinctio optio tempora tenetur pariatur, doloribus, repellat quod?  ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus neque aspernatur provident omnis eveniet, ullam nisi accusantium eos incidunt? Possimus vero, ipsam a fugit obcaecati eligendi illum fuga magnam aliquid.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam nulla assumenda cupiditate voluptatem, eaque quas deleniti placeat perspiciatis voluptatum ex corporis et neque veniam, minima id, ullam facere vel?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ullam molestiae ex laboriosam sed quia tempore repellendus, repudiandae quidem suscipit consectetur ut odit eum esse, distinctio illum atque quaerat adipisci.
            .content-green
                    h4.title-white ¿cómo lo hacemos?
        .col-xs-12.col-sm-3
            include __sponsors