extends _base

block content
    section.row.center-xs.top-xs.limiter__container
        .col-xs-12
            .row
                .col-xs-12
                    p.txt_justify Dromedario es una compañía que ofrece servicios de consultoría e implementación de tecnología en materia de eficiencia energética.
                    p.txt_justify Nuestro enfoque en la innovación con base tecnológica sumada a la experiencia dentro del campo nos permite ofrecer a nuestros clientes productos y servicios que reducen su consumo energético con un rápido retorno de la inversión y un aumento en la rentabilidad de su ejercicio.
                    p.txt_justify
                        strong ¿Qué es eficiencia energética?
                    p.txt_justify Al hablar de eficiencia energética nos referimos a la utilización más eficiente de la energía, o en otras palabras a la optimización de los procesos para producir más bienes con la misma o menos energía.

            .row
                .col-xs-12
                    .title-line.col-xs-12
                        h3.medium-title nuestra historia
                        span
                .col-xs-12
                    p.txt_justify Dromedario es un proyecto empresarial que nació del interés de sus fundadores por ofrecer herramientas que permitieran y promovieran la reducción del consumo de energía de manera indiscriminada.
                    p.txt_justify DROMEDARIO ha sido ganador de los siguientes reconocimientos:
                    ul
                        li
                            p.txt_justify Proyecto ganador - INNOVA T 2016 / TECNOPARQUE -  SENA.
                        li
                            p.txt_justify YOUNG LEADERS OF THE AMERICAS INITIATIVE 2016, iniciativa del presidente de los Estados Unidos de América Barack Obama, para empoderar a emprendimientos y a líderes innovadores de la sociedad civil.
                        li
                            p.txt_justify MIT Entrepreneurship BootCamp ofrecido por  MASSACHUSETS INSTITUTE OF TECHNOLOGY Australia 2017.

                .col-xs-12
                    .row.around-xs
                        img(src="images/sponsor/sena-tecnoparque.png", alt="Sena")
                        img(src="images/sponsor/ylai.png", alt="Young Leaders")
                        img(src="images/sponsor/MIT.png", alt="MIT")
            .row
                .col-xs-12
                    .title-line.col-xs-12
                        h3.medium-title nuestro equipo
                        span
                .col-xs-12
                    .team-content.row.center-xs.middle-xs
                        .team-item.col-xs-12.col-sm-4
                            .thumbnail-variant
                                .thumbnail-variant-img-wrap
                                    img.img-circle(src='images/team/member-1.jpg', width='130', height='130', alt='Jhon Doe')
                                h4 ANDRÉS ESTEBAN PUERTO
                                .text-dusty-gray Gerente
                                .divider-fullwidth.bg-porcelain
                                .link-group
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, provident ullam? At distinctio voluptatum hic fuga aspernatur cumque harum est consectetur.
                                span.icon.icon-xxs.icon-primary.fa-envelope-o
                                a.link-gray-base jhon@gmail.com
                        .team-item.col-xs-12.col-sm-4
                            .thumbnail-variant
                                .thumbnail-variant-img-wrap
                                    img.img-circle(src='images/team/member-2.jpg', width='130', height='130', alt='Jhon Doe')
                                h4 VLADIMIR DUCÓN
                                .text-dusty-gray SEO
                                .divider-fullwidth.bg-porcelain
                                .link-group
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, provident ullam? At distinctio voluptatum hic fuga aspernatur cumque harum est consectetur.
                                span.icon.icon-xxs.icon-primary.fa-envelope-o
                                a.link-gray-base davidp@gmail.com
                        .team-item.col-xs-12.col-sm-4
                            .thumbnail-variant
                                .thumbnail-variant-img-wrap
                                    img.img-circle(src='images/team/member-1.jpg', width='130', height='130', alt='Jhon Doe')
                                h4 OSCAR RINCÓN
                                .text-dusty-gray Marketing
                                .divider-fullwidth.bg-porcelain
                                .link-group
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, provident ullam? At distinctio voluptatum hic fuga aspernatur cumque harum est consectetur.
                                span.icon.icon-xxs.icon-primary.fa-envelope-o
                                a.link-gray-base amanda@gmail.com
                        .team-item.col-xs-12.col-sm-4
                            .thumbnail-variant
                                .thumbnail-variant-img-wrap
                                    img.img-circle(src='images/team/member-2.jpg', width='130', height='130', alt='Jhon Doe')
                                h4 SERGIO ALFONSO
                                .text-dusty-gray Marketing
                                .divider-fullwidth.bg-porcelain
                                .link-group
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, provident ullam? At distinctio voluptatum hic fuga aspernatur cumque harum est consectetur.
                                span.icon.icon-xxs.icon-primary.fa-envelope-o
                                a.link-gray-base amandap@gmail.com
                        .team-item.col-xs-12.col-sm-4
                            .thumbnail-variant
                                .thumbnail-variant-img-wrap
                                    img.img-circle(src='images/team/member-3.jpg', width='130', height='130', alt='Jhon Doe')
                                h4 PAULA BERMUDEZ
                                .text-dusty-gray Gerente
                                .divider-fullwidth.bg-porcelain
                                .link-group
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, provident ullam? At distinctio voluptatum hic fuga aspernatur cumque harum est consectetur.
                                span.icon.icon-xxs.icon-primary.fa-envelope-o
                                a.link-gray-base philip@gmail.com